.card {
  width: 32vw;
  height: 25vh;
  display: inline-flex;
  border: 1px solid #eee8aa;
  margin: 10px auto;
  background-color: #355e3b;
  color: #eee8aa;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
}
.card:hover {
  background-color: #0f52ba;
}
.group {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

body {
  margin: 0;
  background-color: #355e3b;
}

.breadcrumb {
    color: #eee8aa;
    font-size: 1.25em;
    margin: 5px;
}
.breadcrumb_item {
    cursor: pointer;
}
